@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --highlight-shadow: #ff8e72;
  --highlight: #ff7c5c;
  --background: #fcfffd;
  --dark-backgroud: #848fa5;
  --secondary: #273043;
  /** sunny side **/
  --blue-background: #c2e9f6;
  --blue-border: #72cce3;
  --blue-color: #96dcee;
  --yellow-background: #fffaa8;
  --yellow-border: #f5eb71;
  /** dark side **/
  --indigo-background: #808fc7;
  --indigo-border: #5d6baa;
  --indigo-color: #6b7abb;
  --gray-border: #e8e8ea;
  --gray-dots: #e8e8ea;
  /** general **/
  --white: #fff;
}

@layer base {
  .secondary {
    background-color: var(--secondary);
  }

  .dark .secondary {
    background-color: var(--highlight);
  }

  .border-secondary {
    border-color: var(--secondary);
  }

  .dark .border-secondary {
    border-color: var(--highlight);
  }

  html {
    background-color: var(--background);
    color: black;
  }

  html.dark {
    background-color: var(--secondary);
    color: white;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .btn {
    @apply font-bold py-2 px-4 rounded;
    background-color: var(--highlight);
  }

  .dark .btn {
    background-color: var(--background);
    color: black;
  }

  .btn:hover {
    background-color: var(--highlight-shadow);
  }

  .input {
    @apply pt-2 pb-2 pl-4 pr-4 w-[90%] rounded-md mb-4 text-black border-2 dark:text-white;
    border-color: var(--secondary);
  }

  .selectableCard {
    border-color: var(--secondary);
    @apply cursor-pointer h-48 w-40 border-2 rounded-xl flex justify-center items-center;
    translate: 0 4vh;
  }

  .dark .selectableCard {
    border-color: var(--highlight);
  }

  @keyframes selectableCardHover {
    from {
      translate: 0 4vh;
    }
    to {
      translate: 0 0;
    }
  }

  .selectableCard:hover {
    animation: selectableCardHover 0.3s;
    translate: 0 0;
  }

  .selectableCard.selected:hover {
    animation: none;
  }

  .selectableCard.selected {
    border-color: var(--highlight);
    translate: 0 0;
    margin: 4px;
  }

  .dark .selectableCard.selected {
    border-color: var(--background);
  }

  .card {
    border-color: var(--secondary);
    @apply h-20 w-16 border-2 rounded-md flex justify-center items-center mb-2 text-2xl;
  }

  .dark .card {
    border-color: var(--highlight);
  }

  .card.selected {
    background-color: var(--highlight);
    opacity: 0.8;
  }

  .dark .card.selected {
    background-color: var(--background);
  }

  .card.shown {
    color: black;
    background: none;
  }

  .dark .card.shown {
    color: white;
  }

  .defaultMargin {
    margin: 1vh 1vw;
  }

  /*
   * Css for Theme Toggle
   */
  .toggle--label {
    width: 50px;
    height: 25px;
    background: var(--blue-color);
    border-radius: 25px;
    border: 1.25px solid var(--blue-border);
    display: flex;
    position: relative;
    transition: all 350ms ease-in;
  }

  @keyframes reverse {
    0% {
      left: 26px;
      width: 20.5px;
    }
    60% {
      left: 18px;
      width: 28px;
    }
    100% {
      left: 1px;
    }
  }

  .toggle--label:before {
    animation-name: reverse;
    animation-duration: 350ms;
    animation-fill-mode: forwards;
    transition: all 350ms ease-in;
    content: '';
    width: 21px;
    height: 21px;
    border: 1.25px solid var(--yellow-border);
    top: 1px;
    left: 1px;
    position: absolute;
    border-radius: 21px;
    background: var(--yellow-background);
  }

  .toggle--label-background {
    width: 2.5px;
    height: 1.25px;
    border-radius: 1.25px;
    position: relative;
    background: var(--white);
    left: 33.75px;
    top: 11.25px;
    transition: all 150ms ease-in;
  }

  .toggle--label-background:before {
    content: '';
    position: absolute;
    top: -1.25px;
    width: 10px;
    height: 1.25px;
    border-radius: 1.25px;
    background: var(--white);
    left: -5px;
    transition: all 150ms ease-in;
  }
  .toggle--label-background:after {
    content: '';
    position: absolute;
    top: 1.25px;
    width: 10px;
    height: 1.25px;
    border-radius: 1.25px;
    background: var(--white);
    left: -2.5px;
    transition: all 150ms ease-in;
  }

  .toggle--checkbox:checked + .toggle--label {
    background: var(--indigo-color);
    border-color: var(--indigo-border);
  }

  @keyframes switch {
    0% {
      left: 1px;
    }
    60% {
      left: 1px;
      width: 28px;
    }
    100% {
      left: 26px;
      width: 20.5px;
    }
  }

  .toggle--checkbox:checked + .toggle--label:before {
    background: var(--white);
    border-color: var(--gray-border);
    animation-name: switch;
    animation-duration: 350ms;
    animation-fill-mode: forwards;
  }

  .toggle--label:after {
    transition-delay: 0ms;
    transition: all 250ms ease-in;
    position: absolute;
    content: '';
    box-shadow:
      var(--gray-dots) -3.25px 0 0 0.5px,
      var(--gray-dots) -6px 7px 0 -0.5px;
    left: 35.75px;
    top: 5.75px;
    width: 2.5px;
    height: 2.5px;
    background: transparent;
    border-radius: 50%;
    opacity: 0;
  }

  .toggle--checkbox:checked + .toggle--label:after {
    transition-delay: 350ms;
    opacity: 1;
  }

  .toggle--checkbox:checked + .toggle--label .toggle--label-background {
    left: 15px;
    width: 1.25px;
  }
  .toggle--checkbox:checked + .toggle--label .toggle--label-background:before {
    width: 1.25px;
    height: 1.25px;
    top: -6.25px;
  }
  .toggle--checkbox:checked + .toggle--label .toggle--label-background:after {
    width: 1.25px;
    height: 1.25px;
    left: -7.5px;
    top: 5px;
  }
}
